{{define "title"}}Your Account{{end}}

{{define "main"}}
    <h2>Your Account</h2>
    {{with .User}}
    <table>
        <tr>
            <th>Name</th>
            <td>{{.Name}}</td>
        </tr>
        <tr>
            <th>Email</th>
            <td>{{.Email}}</td>
        </tr>
        <tr>
            <th>Joined</th>
            <td>{{humanDate .Created}}</td>
        </tr>
        <tr>
            <th>Password</th>
            <td><a href="/account/password">Change password</a></td>
        </tr>
    </table>
    {{end}}

    <h3>Created Posts</h3>
    {{if .UserPosts}}
    <ul>
        {{range .UserPosts}}
        <li><a href="/post/view?id={{.ID}}">{{.Title}}</a> - {{humanDate .Created}}</li>
        {{end}}
    </ul>
    {{else}}
    <p>No posts created yet.</p>
    {{end}}
    
<h3>Liked Posts</h3>
{{if .LikedPosts}}
<ul>
    {{range .LikedPosts}}
    <li><a href="/post/view?id={{.ID}}">{{.Title}}</a> - {{humanDate .Created}}</li>
    {{end}}
</ul>
{{else}}
<p>No posts liked yet.</p>
{{end}}

{{end}}
