{{define "title"}}Home{{end}}

{{define "main"}}
    <h2>Categories</h2>
    <div class="categories">
        {{range .Categories}}
            <form method="get" action="/">
                <button type="submit" name="category" value="{{.ID}}">{{.Name}}</button>
            </form>
        {{end}}
    </div>

    <h2>Latest Posts</h2>
    {{if .Posts}}
        <div class="post-list">
            {{range .Posts}}
                <div class="post">
                    <h3><a href="/post/view?id={{.ID}}">{{.Title}}</a></h3>
                    <p>{{.Content}}</p>
                    <div class="metadata">
                        <span>Created: {{humanDate .Created}}</span>
                        <div class="likes-dislikes">
                            <form action="/post/like" method="post" class="like-form">
                                <input type="hidden" name="postID" value="{{.ID}}">
                                <button type="submit" class="like-button">Like</button>
                                <span class="like-count">{{.Likes}}</span>
                            </form>
                            <form action="/post/dislike" method="post" class="dislike-form">
                                <input type="hidden" name="postID" value="{{.ID}}">
                                <button type="submit" class="dislike-button">Dislike</button>
                                <span class="dislike-count">{{.Dislikes}}</span>
                            </form>
                        </div>
                    </div>
                </div>
            {{end}}
        </div>
    {{else}}
        <p class="empty-message">There's nothing to see here... yet!</p>
    {{end}}
{{end}}
