{{define "title"}}Post #{{.Post.ID}}{{end}}

{{define "main"}}
    {{with .Post}}
    <div class='snippet'>
        <div class='metadata'>
            <strong>{{.Title}}</strong>
        </div>
        <pre><code>{{.Content}}</code></pre>
        <div class='metadata'>
            Author: {{.UserName}}
        </div>
        <div class='metadata'>
            <time>Created: {{humanDate .Created}}</time>
        </div>
        <div class='metadata'>
            Categories: 
            {{if .Categories}}
                {{range .Categories}}
                    <span>{{.Name}}</span>
                {{end}}
            {{else}}
                <span>No categories</span>
            {{end}}
        </div>
    </div>
    {{end}}

    <h2>Comments</h2>
    {{if .Comments}}
        {{range .Comments}}
        <div class="comment">
            <pre><code>{{.Content}}</code></pre>
            <small>Posted by user {{.Username}} at {{humanDate .Created}}</small>
            <div class="likes-dislikes">
                <form action="/post/comment/like" method="post" class="like-form">
                    <input type="hidden" name="commentID" value="{{.ID}}">
                    <input type="hidden" name="postID" value="{{.PostId}}">
                    <button type="submit" class="like-button">Like</button>
                    <span class="like-count">{{.Likes}}</span>
                </form>
                <form action="/post/comment/dislike" method="post" class="dislike-form">
                    <input type="hidden" name="commentID" value="{{.ID}}">
                    <input type="hidden" name="postID" value="{{.PostId}}">
                    <button type="submit" class="dislike-button">Dislike</button>
                    <span class="dislike-count">{{.Dislikes}}</span>
                </form>
            </div>
        </div>
        {{else}}
        <p>No comments yet.</p>
        {{end}}
    {{end}}

    <h3>Add a Comment</h3>
    <form action="/post/comment" method="post">
        <input type="hidden" name="PostId" value="{{.Post.ID}}">
        <label>Content:</label>
        {{with .Form.FieldErrors.Content}}
            <label class='error'>{{.}}</label>
        {{end}}
        <!-- Re-populate the content data as the inner HTML of the textarea. -->
        <textarea name='content'>{{.Form.Content}}</textarea>
        <button type="submit">Add Comment</button>
    </form>
{{end}}
